name: Releases

on:
  push:
    tags:
      - '*'
    branches:
      - main

jobs:

  build:
    runs-on: macos-latest
    steps:
    
    - uses: actions/checkout@v4

    - name: Validação da sintaxe
      run: ruby -c ./Formula/dev-environment.rb

    - name: Preparando para auditar
      run: |
        brew tap-new salgueiroso/dev-environment
        DIRETORIO=$(brew --repo salgueiroso/dev-environment)
        cp ./Formula/dev-environment.rb "${DIRETORIO}/Formula/dev-environment.rb"

    - name: Validação da instalação
      run: brew install --build-from-source --verbose --force salgueiroso/dev-environment/dev-environment

    - name: Validação dos testes
      run: brew test salgueiroso/dev-environment/dev-environment

    - name: Auditando a instalação
      run: brew audit --new --strict --online dev-environment
