name: Releases

on: 
  push:
    tags:
      - '*'
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: BRANCH_NAME normalization
      run: |
        BRANCH_NAME=${GITHUB_REF#refs/}
        BRANCH_NAME=${GITHUB_REF#heads/}
        BRANCH_NAME=${BRANCH_NAME#tags/}
        echo "BRANCH_NAME=${BRANCH_NAME}"
        echo "BRANCH_NAME=${BRANCH_NAME}" >> $GITHUB_ENV

    - uses: actions/checkout@v4

    - name: Create tar.gz file
      run: |
        tar -czvf "environment-release-${BRANCH_NAME}.tar.gz" *.sh

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.tar.gz"
        bodyFile: "release.md"
        tag: ${{ env.BRANCH_NAME }}
        name: Release ${{ env.BRANCH_NAME }}
